@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: FuturaBkBTBook;
  font-display: swap;
  src: url("../fonts/FuturaBkBTBook-Regular.woff2") format("woff2"), url("../fonts/FuturaBkBTBook-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaBlack;
  font-display: swap;
  src: url("../fonts/FuturaBlack-Bold.woff2") format("woff2"), url("../fonts/FuturaBlack-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FuturaHvBTHeavy;
  font-display: swap;
  src: url("../fonts/FuturaHvBTHeavy-Regular.woff2") format("woff2"), url("../fonts/FuturaHvBTHeavy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaLT;
  font-display: swap;
  src: url("../fonts/FuturaLT-Bold.woff2") format("woff2"), url("../fonts/FuturaLT-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FuturaMdBtItalic;
  font-display: swap;
  src: url("../fonts/FuturaMdBtItalic-Bold.woff2") format("woff2"), url("../fonts/FuturaMdBtItalic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FuturaXBlkCnItBTExtraBlackItalic;
  font-display: swap;
  src: url("../fonts/FuturaXBlkCnItBTExtraBlackItalic-Regular.woff2") format("woff2"), url("../fonts/FuturaXBlkCnItBTExtraBlackItalic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaLT;
  font-display: swap;
  src: url("../fonts/FuturaLT-Regular.woff2") format("woff2"), url("../fonts/FuturaLT-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaLtBTLight;
  font-display: swap;
  src: url("../fonts/FuturaLtBTLight-Regular.woff2") format("woff2"), url("../fonts/FuturaLtBTLight-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaLtCnBT;
  font-display: swap;
  src: url("../fonts/FuturaLtCnBT-Regular.woff2") format("woff2"), url("../fonts/FuturaLtCnBT-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.slider-preview__controll .swiper-button-next:after,
.slider-preview__controll .swiper-button-prev:before,
.item-info__size::after,
.button::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-circle:before {
  content: "\e90c";
  color: #fff;
}

._icon-circle_semi:before {
  content: "\e90d";
  color: #fff;
}

._icon-360:before {
  content: "\e900";
  color: #fff;
}

._icon-account:before {
  content: "\e901";
  color: #fff;
}

._icon-cart:before {
  content: "\e902";
  color: #fff;
}

._icon-down_arrow:before {
  content: "\e903";
  color: #fff;
}

._icon-facebook:before {
  content: "\e904";
  color: #fff;
}

._icon-instagram:before {
  content: "\e905";
  color: #fff;
}

._icon-plus:before {
  content: "\e906";
}

._icon-right_arrow:before {
  content: "\e907";
  color: #fff;
}

._icon-search:before {
  content: "\e908";
  color: #fff;
}

._icon-slider_arrow:before {
  content: "\e909";
  color: #fff;
}

._icon-twitter:before {
  content: "\e90a";
  color: #fff;
}

._icon-youtube:before {
  content: "\e90b";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "FuturaBkBTBook";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "FuturaBkBTBook";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  min-width: 0;
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  background-color: inherit;
  cursor: pointer;
  width: 100%;
  font-family: "FuturaHvBTHeavy";
  font-size: 2.25rem;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  position: relative;
  top: 10px;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  white-space: nowrap;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 2.25rem;
  border: 1px solid #fff;
  font-size: 0.75rem;
  padding: 1.125rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button::after {
  content: "";
  content: "\e907";
  margin-left: 0.75rem;
}

.button._fw {
  width: 100%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.mainblock {
  padding-top: 15rem;
  position: relative;
  margin-bottom: 62.5rem;
}

.mainblock__ellipse {
  display: none;
}

.mainblock__ellipse circle {
  stroke: white;
  stroke-width: 1px;
  -webkit-transition: stroke-width 0.3s;
  -o-transition: stroke-width 0.3s;
  transition: stroke-width 0.3s;
}

.mainblock__ellipse circle:hover {
  cursor: pointer;
  stroke-width: 3px;
}

.mainblock__ellipse circle.active {
  stroke-width: 3px;
}

.mainblock__labels {
  margin-bottom: 1000px;
  background-color: #000;
  position: relative;
}

.mainblock__rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.mainblock__rectangle_red {
  background: #BA0000;
  -webkit-transform: rotate(-1.907deg);
      -ms-transform: rotate(-1.907deg);
          transform: rotate(-1.907deg);
}

.mainblock__rectangle_black {
  background: #000;
  -webkit-transform: rotate(2.923deg);
      -ms-transform: rotate(2.923deg);
          transform: rotate(2.923deg);
  z-index: 5;
}

.mainblock__rectangle_black span:first-of-type {
  /* Скрыть наполовину за края вьюпорта слева */
  position: relative;
  -webkit-transform: translateX(-35%);
      -ms-transform: translateX(-35%);
          transform: translateX(-35%);
  overflow: hidden;
}

.mainblock__rectangle_black span:last-of-type {
  /* Скрыть наполовину за края вьюпорта справа */
  position: relative;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  overflow: hidden;
}

.mainblock__rectangle span {
  color: #FFF;
  font-family: "FuturaXBlkCnItBTExtraBlackItalic";
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 32px;
  padding: 0 1.25rem;
}

.product-main-slider {
  margin: 0rem 0rem 1.5625rem 0rem;
}

.product-main-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-main-slider {
  height: 100%;
  position: relative;
}

.slide-main-slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.875rem;
}

.slide-main-slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.item360__image img {
  max-width: 100%;
}

.item360__tips {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.item360__tip {
  position: absolute;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.item360__tip::before,
.item360__tip::after {
  content: "";
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item360__tip span {
  z-index: 2;
  color: #00112C;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item360__tip_1 {
  top: 36.6551577354%;
  left: 34.8214285714%;
}

.item360__tip_2 {
  top: 55.5739488247%;
  right: 4.4642857143%;
}

.item360__line {
  margin-top: -1.5625rem;
}

.item360__line img {
  max-width: 100%;
}

.item360__button {
  font-size: 1.875rem;
}

.item-info {
  padding-top: 4.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.item-info__title {
  color: #FFF;
  font-family: "FuturaMdBtItalic";
  line-height: 100%;
  letter-spacing: 0.48rem;
  margin-bottom: 2rem;
}

.item-info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.item-info__price {
  font-family: "FuturaHvBTHeavy";
  font-size: 2.25rem;
  line-height: 100%;
}

.item-info__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-info__size::after {
  content: "\e902";
  font-size: 20px;
  cursor: pointer;
}

.item-info__size::before {
  content: "";
  display: none;
}

.slider-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5.4375rem;
}

.slider-preview__controll {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.93%;
          flex: 0 0 14.93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}

.slider-preview__controll .swiper-button-prev,
.slider-preview__controll .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.slider-preview__controll .swiper-button-prev:before {
  content: "\e909";
}

.slider-preview__controll .swiper-button-next:after {
  content: "\e909";
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-preview__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 72.22%;
          flex: 1 1 72.22%;
}

.slider-preview__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}

.slider-preview__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30.76%;
          flex: 1 1 30.76%;
}

.slide-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.no-webp .slide-preview::before{
  background: url("../img/mainblock/border_01.png") 0 0/auto auto no-repeat; }

.slide-preview::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 75px;
  left: 0;
}

.item-slide-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 0.953125rem;
}

.item-slide-preview > :not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-slide-preview__picture img {
  max-width: 100%;
  height: auto;
}

.item-slide-preview__title {
  color: #FFF;
  font-family: "FuturaLtCnBT";
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2.5625rem;
}

/* Стили для прямой линии и буллетов на разрешении менее 900px */

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  -o-transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
       -o-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .no-webp .mainblock{
    background: url("../img/mainblock/Background.png") 0 0/auto auto no-repeat; }

  .slide-main-slider__bgtext {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "FuturaBlack";
    font-size: 8rem;
    line-height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 47.99875em) and (min-width: 87.5em) {
  .slide-main-slider__bgtext {
    font-size: 8rem;
  }
}

@media (min-width: 56.25em) {
  .mainblock__ellipse {
    display: inline-block;
    position: absolute;
    left: -10px;
    z-index: 100;
  }
}

@media (min-width: 56.25em) and (min-width: 87.5em) {
  .mainblock__ellipse {
    top: 11.875rem;
  }
}

@media (min-width: 71.875em) {
  .item360 {
    position: relative;
    top: -50px;
    left: 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0.625rem;
  }
}

@media (min-width: 87.5em) {
  .slide-main-slider__row {
    gap: 8.4375rem;
  }

  .item360__tip {
    width: 3.5rem;
  }

  .item360__tip {
    height: 3.5rem;
  }

  .item360__tip span {
    font-size: 1.875rem;
  }

  .item-info__title {
    font-size: 3rem;
  }

  .item-info__size {
    margin-left: 10.9375rem;
  }

  .item-info__size::after {
    margin-left: 1.75rem;
  }
}

@media (max-width: 20em) {
  .slide-main-slider__row {
    gap: 0.625rem;
  }

  .item360__tip {
    width: 1.875rem;
  }

  .item360__tip {
    height: 1.25rem;
  }

  .item360__tip span {
    font-size: 0.625rem;
  }

  .item-info__title {
    font-size: 1.5625rem;
  }

  .item-info__size {
    margin-left: 0.625rem;
  }

  .item-info__size::after {
    margin-left: 0.3125rem;
  }
}

@media (max-width: 87.5em) {
  .mainblock {
    background-size: contain;
    /* Измените на желаемый размер при адаптации */
  }
}

@media (max-width: 71.875em) {
  .item360 {
    width: clamp(200px, 50%, 560px);
    margin: 0 auto;
  }
}

@media (max-width: 56.25em) {
  .mainblock__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* Изменим align-items на flex-end */
    gap: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    /* Увеличим высоту прямой линии */
    margin-top: min(200px, 50%);
    /* Отступ сверху (для расположения под блоком с SVG) */
  }

  .mainblock__bullet {
    position: relative;
    /* Стили для буллетов на прямой линии */
  }

  .mainblock__bullet .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    -webkit-transition: border-width 0.3s, width 0.3s, height 0.3s;
    -o-transition: border-width 0.3s, width 0.3s, height 0.3s;
    transition: border-width 0.3s, width 0.3s, height 0.3s;
    cursor: pointer;
    /* Стили для неактивных буллетов на прямой линии */
    /* Стили для активного буллета на прямой линии */
  }

  .mainblock__bullet .circle::after {
    content: "";
    display: block;
    width: 10px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    background-color: #fff;
    height: 1px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    bottom: -100%;
    /* Положение линии относительно буллета */
    left: 0%;
    /* Смещение линии по горизонтали, чтобы быть по центру круга */
  }

  .mainblock__bullet .circle:not(.active) {
    width: 10px;
    height: 10px;
  }

  .mainblock__bullet .circle.active {
    width: 15px;
    height: 15px;
    border-width: 4px;
  }

  .mainblock__bullet .circle:not(:last-child) {
    position: relative;
    margin-bottom: 20px;
    /* Расстояние между буллетами (можно настроить по желанию) */
  }

  .mainblock__bullet .circle:not(:last-child).active.auto-switch {
    width: 15px;
    height: 15px;
    border-width: 4px;
    -webkit-transition: border-width 0.3s, width 0.3s, height 0.3s;
    -o-transition: border-width 0.3s, width 0.3s, height 0.3s;
    transition: border-width 0.3s, width 0.3s, height 0.3s;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .slide-main-slider__bgtext {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (padding-top: clamp( 2.5rem , -1.0714285714rem  +  17.8571428571vw , 15rem )) {
    .mainblock {
      padding-top: clamp( 2.5rem , -1.0714285714rem  +  17.8571428571vw , 15rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -1.0714285714rem  +  17.8571428571vw , 15rem )) {
    .mainblock {
      padding-top: calc(2.5rem + 12.5 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 56.25em) and (min-width: 20em) and (max-width: 87.5em) {
@supports (top: clamp( 0.625rem , -2.7083333333rem  +  16.6666666667vw , 11.875rem )) {
    .mainblock__ellipse {
      top: clamp( 0.625rem , -2.7083333333rem  +  16.6666666667vw , 11.875rem );
    }
}

@supports not (top: clamp( 0.625rem , -2.7083333333rem  +  16.6666666667vw , 11.875rem )) {
    .mainblock__ellipse {
      top: calc(0.625rem + 11.25 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 56.25em) and (max-width: 20em) {
  .mainblock__ellipse {
    top: 0.625rem;
  }
}

@media (min-width: 56.25em) and (max-width: 87.5em) {
  .mainblock__ellipse {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    /* Измените значение на желаемое уменьшение */
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    /* Указываем точку трансформации слева */
  }
}

@media (min-width: 56.25em) and (max-width: 84.375em) {
  .mainblock__ellipse {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    /* Измените значение на желаемое уменьшение */
  }
}

@media (min-width: 56.25em) and (max-width: 81.25em) {
  .mainblock__ellipse {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    /* Измените значение на желаемое уменьшение */
  }
}

@media (min-width: 56.25em) and (max-width: 78.125em) {
  .mainblock__ellipse {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    /* Измените значение на желаемое уменьшение */
  }
}

@media (min-width: 56.25em) and (max-width: 60.625em) {
  .mainblock__ellipse {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    /* Измените значение на желаемое уменьшение */
  }
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 87.5em) {
@supports (font-size: clamp( 5rem , 4.1111111111rem  +  4.4444444444vw , 8rem )) {
    .slide-main-slider__bgtext {
      font-size: clamp( 5rem , 4.1111111111rem  +  4.4444444444vw , 8rem );
    }
}

@supports not (font-size: clamp( 5rem , 4.1111111111rem  +  4.4444444444vw , 8rem )) {
    .slide-main-slider__bgtext {
      font-size: calc(5rem + 3 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .slide-main-slider__bgtext {
    font-size: 5rem;
  }
}

@media (min-width: 20em) and (max-width: 87.5em) {
@supports (gap: clamp( 0.625rem , -1.6898148148rem  +  11.5740740741vw , 8.4375rem )) {
    .slide-main-slider__row {
      gap: clamp( 0.625rem , -1.6898148148rem  +  11.5740740741vw , 8.4375rem );
    }
}

@supports not (gap: clamp( 0.625rem , -1.6898148148rem  +  11.5740740741vw , 8.4375rem )) {
    .slide-main-slider__row {
      gap: calc(0.625rem + 7.8125 * (100vw - 20rem) / 67.5);
    }
}

@supports (width: clamp( 1.875rem , 1.3935185185rem  +  2.4074074074vw , 3.5rem )) {
    .item360__tip {
      width: clamp( 1.875rem , 1.3935185185rem  +  2.4074074074vw , 3.5rem );
    }
}

@supports not (width: clamp( 1.875rem , 1.3935185185rem  +  2.4074074074vw , 3.5rem )) {
    .item360__tip {
      width: calc(1.875rem + 1.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (height: clamp( 1.25rem , 0.5833333333rem  +  3.3333333333vw , 3.5rem )) {
    .item360__tip {
      height: clamp( 1.25rem , 0.5833333333rem  +  3.3333333333vw , 3.5rem );
    }
}

@supports not (height: clamp( 1.25rem , 0.5833333333rem  +  3.3333333333vw , 3.5rem )) {
    .item360__tip {
      height: calc(1.25rem + 2.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 0.625rem , 0.2546296296rem  +  1.8518518519vw , 1.875rem )) {
    .item360__tip span {
      font-size: clamp( 0.625rem , 0.2546296296rem  +  1.8518518519vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.2546296296rem  +  1.8518518519vw , 1.875rem )) {
    .item360__tip span {
      font-size: calc(0.625rem + 1.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.1365740741rem  +  2.1296296296vw , 3rem )) {
    .item-info__title {
      font-size: clamp( 1.5625rem , 1.1365740741rem  +  2.1296296296vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1365740741rem  +  2.1296296296vw , 3rem )) {
    .item-info__title {
      font-size: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-left: clamp( 0.625rem , -2.4305555556rem  +  15.2777777778vw , 10.9375rem )) {
    .item-info__size {
      margin-left: clamp( 0.625rem , -2.4305555556rem  +  15.2777777778vw , 10.9375rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , -2.4305555556rem  +  15.2777777778vw , 10.9375rem )) {
    .item-info__size {
      margin-left: calc(0.625rem + 10.3125 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-left: clamp( 0.3125rem , -0.1134259259rem  +  2.1296296296vw , 1.75rem )) {
    .item-info__size::after {
      margin-left: clamp( 0.3125rem , -0.1134259259rem  +  2.1296296296vw , 1.75rem );
    }
}

@supports not (margin-left: clamp( 0.3125rem , -0.1134259259rem  +  2.1296296296vw , 1.75rem )) {
    .item-info__size::after {
      margin-left: calc(0.3125rem + 1.4375 * (100vw - 20rem) / 67.5);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .button:hover {
    background-color: rgb(98, 87, 87);
    cursor: pointer;
  }

  .item360__tip:hover {
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.webp .slide-preview::before{ background: url(../img/mainblock/border_01.webp) 0 0/auto auto no-repeat; }

@media (min-width: 47.99875em){

  .webp .mainblock{ background: url(../img/mainblock/Background.webp) 0 0/auto auto no-repeat; }
}